body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7e5EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

p {
    text-align: end;
    padding-right: 100px;
    font-weight: 600;
}

.body_img {
    width: 650px;
    height: 325px;
}

.sqimg {
    width: 250px;
    height: 250px;
    border-radius: 25px;
    border: 4px solid #3882F6;
}

.hero {
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #f9faf8;
}

.subheader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
}

.square {
    text-align: center;
    max-width: 250px;
    padding-bottom: 60px;
}

.sign-up {
    background: #3882F6;
    font-size: 18px;
    color: #e5e7e5EB;
    max-width: 80px;
    border-radius: 5px;
}

.body {
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}

.body-block {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.quote {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    font-style: italic;
}